.find-content {
    margin-top: 50px;
}

.falls {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.falls-item {
    width: 300px;
    margin: 5px;
    flex-wrap: nowrap;
}

.img-item {
    overflow: hidden;
}

.img-item img {
    border-radius: 3px;
    max-width: 100%;
    transition: all 0.4s;
}

.img-item img:hover {
    transform: scale(1.1);
}

.load-more {
    margin-top: 50px;
    text-align: center;
}

.load-more button {
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #e8f33a;
    cursor: pointer;
    font-size: 14px;
}

.load-more button {
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}

.load-more button:before,
.load-more button:after {
    position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background: #15c4c0;
    border-radius: 50%;
}

.load-more button:before {
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.load-more button:after {
    right: -20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.load-more button:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
}

.load-more button:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    75% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    75% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
    100% {
        background-color: transparent;
    }
}