@font-face {
    font-family: 'Ministry Script';
    /*字体名称*/
    src: url('Ministry-Script.woff');
    /*字体源文件*/
}

.content {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.index-content {
    position: relative;
    height: 100%;
    background-color: #7c7c7c;
    overflow: hidden;
}

.content-title {
    position: relative;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.index-head {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner1.jpg);
    background-size: 100%;
}

.content-notice {
    text-align: center;
    color: #7c7c7c;
    font-size: 16px;
}

.content-album {
    width: 1200px;
    margin: 20px auto 0;
}

.album {
    display: flex;
    flex-wrap: wrap;
    height: 780px;
    overflow: hidden;
}

.album:after {
    content: "";
    flex-grow: 99999;
}

.album-item {
    position: relative;
    flex-grow: 1;
    margin: 5px;
    overflow: hidden;
}

.album-item:hover .album-intro {
    bottom: 0;
}

.album-item img {
    height: 250px;
    object-fit: cover;
    min-width: 100%;
    vertical-align: bottom;
    transition: transform .4s;
}

.album-item img:hover {
    transform: scale(1.2);
}

.album-intro {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    padding-left: 10px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: all 0.4s;
    font-size: 12px;
}

.footer {
    padding: 20px 0;
    margin-top: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgb(95, 92, 104);
}

.loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(95, 92, 104);
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 1s linear;
}

.loading-content {
    position: relative;
    width: 130px;
    height: 67px;
    transition: transform 0.5s;
}

.loading-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67px;
    z-index: 5;
}

.loading-content div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 4;
    background-color: #15c4c0;
    transition: height 1s;
}

/* 
    分类
*/

.classify-icon {
    position: fixed;
    top: 60px;
    left: 70px;
    width: 25px;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    transition: opacity 1.5s;
}

.classify-icon span {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #222;
    transition: width 0.5s;
}

.classify-icon span:nth-child(1) {
    top: 0;
}

.classify-icon span:nth-child(2) {
    top: 9px;
}

.classify-icon span:nth-child(3) {
    bottom: 0;
}

.classify-icon span:nth-child(1),
.classify-icon span:nth-child(3) {
    width: 40%;
}

.classify-icon span:nth-child(2) {
    width: 100%;
}

.classify-icon:hover span {
    width: 100%;
}

.classify-cont {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    background-color: #fff;
    z-index: 8;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transform: translateX(-700px);
    transition: transform 0.5s 0.1s ease;
}

.classify-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7;
    transition: width 0.8s;
}

.classify-cont::-webkit-scrollbar {
    width: 0;
}

.classify-list {
    display: flex;
    width: 100%;
    padding: 0 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.classify-item {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.classify-item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.classify-title {
    padding: 30px 0;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.classify-item a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.classify-item a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.classify-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: color 0.3s;
}

.classify-item:hover span {
    color: #ffd901
}

.classify-close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.classify-close::after {
    position: absolute;
    top: -8px;
    left: -9px;
    width: 30px;
    height: 30px;
    border: 1px solid #222;
    border-radius: 50%;
    content: '';
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.5s;
}

.classify-close img {
    width: 15px;
    height: 15px;
    transform: rotateZ(180deg);
    transition: transform 0.5s;
}

.classify-close:hover::after {
    transform: scale(1);
    opacity: 1;
}

.classify-close:hover img {
    transform: rotateZ(0);
}

.common-title {
    font-size: 50px;
    font-family: 'Ministry Script';
}

/* 第一部分
   毕业
*/

.part1 {
    height: 100%;
    background-size: cover;
    background-position: 0 bottom;
    background-repeat: no-repeat;
}

.part1-content {
    position: relative;
    display: flex;
    height: calc(100% - 120px);
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.part1-title {
    padding-top: 30px;
    margin-left: 30px;
    color: #f00;
}

.part1-intro {
    margin-bottom: 20px;
    margin-right: 100px;
    color: #f00;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Ministry Script';
}

.part1-intro li {
    margin-top: 30px;
}

.part1-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 100px;
}

.part1-btn a {
    display: inline-block;
    width: 120px;
    height: 35px;
    border: 1px solid #f00;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 30px;
    line-height: 35px;
    text-align: center;
    color: #f00;
    background: url(../img/section_index_btn.png);
    background-repeat: repeat-x;
    transition: background 0.8s;
}

.part1-btn a:hover {
    background-position-x: 120px;
}

.swiper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    perspective: 1000px;
}

.cube-item {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-item span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
    第二部分-结婚
*/

.part2 {
    display: flex;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.part2-content {
    display: flex;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}

.part2-content-item {
    height: 90%;
    flex: 1;
}

.part2-content-item img {
    height: 100%;
    width: 80%;
    object-fit: cover
}

.word-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ministry Script';
}

.word-item h1 {
    margin-bottom: 30px;
    font-size: 50px;
}

.word-item p {
    width: 80%;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 35px;
    word-spacing: 5px;
}

/* 
    第三部分 家庭
*/

.part3 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff6f6;
}

.love {
    display: flex;
    height: 100%;;
    align-items: center;
}

.love-conetnt {
    width: 710px;
    height: 630px;
    margin-left: 60px;
}

.love-row {
    display: flex;
    justify-content: center;
}

.love-row-item {
    overflow: hidden;
}

.love-row-item + .love-row-item {
    margin-bottom: 10px;
}

.love-row-item img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 0.5s;
}

.love-row-item-special img {
    margin-right: 80px;
}

.part3-content {
    display: flex;
    margin-left: 10%;
    font-size: 40px;
    text-transform: capitalize;
    color: #aedefc;
    font-family: 'Ministry Script';
    flex-direction: column;
    justify-content: center;
}

.part3-content-item + .part3-content-item {
    margin-top: 40px;
}

.part3-content-item:nth-child(4) {
    transform: translateX(100px);
}

.part3-content-item:nth-child(3) {
    transform: translateX(125px);
}

.part3-content-item:nth-child(2) {
    transform: translateX(150px);
}

.part3-content-item:nth-child(1) {
    transform: translateX(175px);
}

/* 
    发现页面
*/

.find-content {
    margin-top: 50px;
}

.falls {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.falls-item {
    width: 300px;
    margin: 5px;
    flex-wrap: nowrap;
}

.img-item {
    overflow: hidden;
}

.img-item img {
    border-radius: 3px;
    max-width: 100%;
    transition: all 0.4s;
}

.img-item img:hover {
    transform: scale(1.1);
}

.load-more {
    margin-top: 50px;
    text-align: center;
}

.load-more button {
    position: relative;
    width: 150px;
    height: 40px;
    border: 1px solid #fb929e;
    border-radius: 5px;
    color: #fb929e;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    transition: color 0.5s;
}

.load-more button:hover {
    color: #fff;
}

.load-more button:before,
.load-more button:after {
    position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background: #fb929e;
    border-radius: 50%;
    z-index: -1;
}

.load-more button:before {
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.load-more button:after {
    right: -20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.load-more button:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
}

.load-more button:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

.detail-content {
    width: 960px;
    padding-bottom: 100px;
    margin: 100px auto 0;
}

.detail-img {
    margin-bottom: 100px;
}

.detail-img-item {
    padding-left: 20px;
    text-align: center;
}

.detail-img-item + .detail-img-item {
    margin-top: 20px;
}

.detail-img-item img {
    max-width: 100%;
}

.comment-title {
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 20px;
    font-size: 18px;
}

.comment-item {
    padding-top: 20px;
}

.comment-item + .comment-item {
    border-top: 1px solid #f6f6f6;
    margin-top: 20px;
}

.user-info {
    display: flex;
}

.user-head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-name {
    line-height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
}

.comment-cont {
    padding-left: 70px;
    font-size: 15px;
    color: #1A1A1A;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
}

.comment-operate {
    display: flex;
    margin-top: 10px;
    line-height: 15px;
    font-size: 13px;
}

.operate-item {
    cursor: pointer;
    margin-right: 20px;
}

.operate-item img {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
    margin-right: 5px;
}