@font-face {
    font-family: 'Ministry Script';
    /*字体名称*/
    src: url('Ministry-Script.woff');
    /*字体源文件*/
}

html,
body {
    height: 100%;
}

.part1-background {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/Roxie-bg.jpg');
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.65);
    box-sizing: border-box;
    transform: scale(0.8);
    opacity: 0.6;
    /* animation: show 1s 1 forwards; */
}

@keyframes show {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.content-describe {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-family: 'Ministry Script';
    text-transform: none;
    flex-direction: column;
}

.content-describe h1 {
    margin-bottom: 30px;
    font-size: 50px;
}

.content-describe p {
    width: 80%;
    font-size: 30px;
}

.content-image {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.content-image img {
    width: 90%;
}