/*清楚网页默认样式*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    font-size: 14px;
    width: 100%;
    font-family: "微软雅黑", "iconfont";
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit
}


/**, *:before, *:after {box-sizing: border-box; }*/

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

html,
body {
    width: 100%;
    height: 100%;
}


/*清除移动端点击a时候出现的蓝色遮罩层*/

a {
    color: #000;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    text-decoration: none;
}


input:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

/* 通用导航栏 */
.head {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    line-height: 70px;
    font-size: 16px;
    transition: background .5s;
    background-color: rgba(0, 0, 0, 0.6);
}

.index-head .nav {
    position: absolute;
    background-color: transparent
}

.logo {
    float: left;
    margin-right: 10px;
}

.logo img {
    height: 20px;
    margin-bottom: -4px;
}

.nav:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav a {
    display: inline-block;
}

.index-head .nav-item {
    color: #15c4c0;
}

.nav-item {
    padding: 0 20px;
    color: #fff;
}

.nav:hover .nav-item,
.nav:hover .nav-r a {
    color: #fff;
}

.nav:hover .nav-item:hover,
.nav:hover .nav-r a:hover {
    color: #15c4c0;
}

.nav:hover .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-l {
    float: left;
}

.nav-r {
    float: right;
}

.index-head .nav-r a {
    color: #15c4c0;
}

.nav-r a {
    padding: 0 20px;
    color: #fff;
}

.nav-r button {
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #15c4c0;
    color: #fff;
    cursor: pointer;
}